<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Etudiants</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-2">
        <div class="card">
            <div class="card-header">Liste d'étudiants</div>
            <div class="card-body">
                <form method="get" th:action="@{/user/index}">
                    <label>Chercher un patient :</label>
                    <input type="text" name="keyword" placeholder="Nom du patient" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Chercher</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Birthday</th>
                        <th>Genre</th>
                        <th>En regle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="e:${listEtudiant}">
                        <td th:text="${e.nom}"></td>
                        <td th:text="${e.prenom}"></td>
                        <td th:text="${e.email}"></td>
                        <td th:text="${e.dateNaissance}"></td>
                        <td th:text="${e.gender}"></td>
                        <td th:text="${e.en_regle}"></td>
                        <td>
                            <a sec:authorize="hasAuthority('ADMIN')" onclick="return confirm('Etes-vous sur de supprimer ce patient?')"
                               class="btn btn-outline-danger"
                               th:href="@{/admin/delete(id=${e.id}, keyword=${keyword}, page=${currentPage})}">Delete</i></a>
                            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-outline-warning"
                               th:href="@{/admin/editEtudiant(id=${e.id}, keyword=${keyword}, page=${currentPage})}">Edit</a>
                            <a class="btn btn-outline-info"
                               th:href="@{/user/listEtudiant(id=${e.id}, keyword=${keyword}, page=${currentPage})}"><i
                                    class="fas fa-list"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                           th:text="${status.index}"
                           th:href="@{/user/index(page=${status.index},keyword=${keyword})}"></a>
                    </li>
                </ul>
                <ul class="nav nav-pills">
                    <li>
                        <a class="btn btn-outline-primary mt-4" th:href="@{/admin/formEtudiant}">Ajouter</a>
                    </li>
                </ul>

        </div>
    </div>
    </div>
</body>
</html>